body {
    position: relative;
    &.background-show::before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, .6);
        z-index: 2;
        // @media screen and (max-width: 762px){display: block;}
    }
}